header {
    width: 100%;
    
}

.header-content {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

i{
    color:  #771717;
}
.header-content {
    background-color: #FF4341;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

i{
    color:  #771717;
}

.header-icons {
    color: #F4F4F4;
    display: flex;
    gap: 14px;
    color: #771717;
}

.header-icons a:hover {
    i{
        animation: translateY 0.5s infinite alternate;
        color: #771717;
    }
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1);
    }
}


.header-button {
    border: 1px solid rgb(240, 11, 11);
    padding: 8px 24px;
    border-radius: 4px;
    color: #000000;
    background-color: transparent;
}

.header-button:hover {
    border: 1px solid $red-light;
    background-color: $red-light;
    color: $pink-white;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 34px;
        }

    }

    .header-logo img {
        width: 250px;
        margin-top: 46px;
    }

    .header-button {
        margin-bottom: 15px;
        display: flex;
    }
}